<template>
  <li class="list-group-item" @click="serverSelected" style="cursor: pointer">
    Server #{{ server.id }}
  </li>
</template>

<script>
  import { serverBus } from '../../main';
  export default {
    name: "Server",
    props: ['server'],
    methods: {
      serverSelected: function () {
          serverBus.$emit('serverSelected', this.server)
      }
    },
  }
</script>

<style scoped>

</style>
