<template>
  <div class="col-xs-12 col-sm-6">
    <p v-if="!server">Please Selecr a Server</p>
    <p v-else>Server #{{server.id}} selected, Status: {{server.status}} </p>
    <hr>
    <button @click="resetStatus">Change to Normal</button>
  </div>
</template>

<script>
  import { serverBus } from '../../main';
    export default {
        name: "ServerDetails",
        data: function () {
          return{
            server :null
          }
        },
       created() {
          serverBus.$on('serverSelected',(server)=>{
            this.server =server;
          })
       },
      methods:{
        resetStatus:function () {
            this.server.status='Normal';
          }
      }
    }
</script>

<style scoped>

</style>
