<template>
    <div>
        <h1>Trade or View your Portfolio</h1>
      <h6>You may Save & Load your Data</h6>
      <h6>Click on End Day to start again this process</h6>
      <hr>
      <p>
        Here your Funds:- {{funds | currency}}
      </p>
    </div>
</template>

<script>
    export default {
        computed:{
          funds:function () {
            return this.$store.getters.funds;
          }
        }
    }
</script>
