<template>
  <div class="row">
    <div class="col-xs-12">
      <footer>
        <p>All Servers are managed here</p>
      </footer>
    </div>
  </div>
</template>

<script>
    export default {
        name: "Footer",
        data: {},
        methods: {},
    }
</script>

<style scoped>

</style>
